<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon">
    <link href="@Url.Content("~/favicon.ico")" rel="icon" type="image/x-icon">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment-with-locales.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Styles/bootstrap.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Styles/bootstrap-theme.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Styles/bootstrap-datetimepicker.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Styles/Style.css")">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="col-md-12 col-sm-12 col-lg-12" style="padding-top: 10pt;">
        <div class="text-left col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 small" style="margin-top: 20px;">
            <h2 class="text-center" style="padding-bottom: 10pt;">Журнал простоев оборудования</h2>
            @RenderBody()
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-lg-12 text-right">
        <div style="margin-right: 50px; padding-bottom: 50px; padding-top: 50px;">
            <a href="@Url.Content("~/Manual/manual.doc")">Инструкция</a><br />
            <small>
                <strong>Диспетчер ИТ</strong><br />
                <span class="glyphicon glyphicon-envelope text-info"></span> <a href="mailto:sd@domain.ru">sd@domain.ru</a>
                <span class="glyphicon glyphicon-phone-alt text-success"></span> <b>0000</b><br />
                <kbd style="background-color: #1f3b4b;">Организация</kbd> <strong>2019</strong>
            </small>
        </div>
    </div>
</body>
</html>
